
.sim-button{
  display: inline-block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
  padding:8px 0;  
	cursor: pointer;
}

.button28 {
	color: rgba(255,255,255,1);
	transition: all 0.3s;
	position: relative;
}
.button28 a{
  font-weight: 300;
  color: #fff;
	text-decoration: none;
  display: block;
  position: relative;
	z-index: 99;
	width: 200px;
	text-align: center;
	@include media-max(768px){
		font-size: 14px;
	}
	@include media-max(){
		font-size: 14px;
	}
}
.button28::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(0,0,0,1);
	border-bottom-color: rgba(0,0,0,1);
	transform: scale(0.1, 1);
	
}
.button28:hover::before{
	opacity: 1;	
	transform: scale(1, 1);
}
.button28:hover a{
  color: #000;
}
.button28::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(0,0,0,1);
}
.button28:hover::after{
	opacity: 0;	
	-webkit-transform: scale(0.1, 1);
	transform: scale(0.1, 1);
}
