// 麵包屑
.breadcrumb{
	background: transparent;
	font-weight: 300;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 0;
	font-size: 14px;
	@include media-max(768px){
		display: none
	}
}
.breadcrumb-item a{
	color: #6c757d;
}
.breadcrumb-item+.breadcrumb-item::before{
	content:'>'
}
.breadcrumb-container{
	@include media-max(768px){
		padding: 5px 2%!important;
	}
}
// page-jumbotron  標題大廣告
.nizing-jumbotron{
	background: cover;
	background-position: center;
	background-image: url('./../image/jumbotron-banner.jpg');
	margin-bottom: 0;
	padding: 50px 0;
	h1{
		color: #fff;
		font-weight: 400;
		letter-spacing: 3px;
		margin-bottom: 0;
		font-size: 18px;
	}
	@include media-max(992px){
		padding: 60px 0;
	}
	@include media-max(768px){
		span{
			display: none;
		}
	}
	@include media-max(){
		padding: 30px 0;
		h1{
			font-size: 16px
		}
	}
}

//燈箱模糊
.blur{
	filter: blur(5px);
}
// 自動輪播圖片架構
.marquee .marquee-bg{ 
 height: 250px;
 width: 450px;
 background-size: cover;
 background-position: center;
 @include media-max(){
	 height: 200px;
	 width: 300px;
 }
}
.lb-dataContainer{
	margin: 0 auto;
	padding-top: 5px;
	width: 100%;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	position: absolute;
	left: 50%;
	transform: translateX(-44%);
	top: -5%;
	@include media-max(){
		left: 0px;
		width: 100%!important;
		transform: initial;
		top: -8%;
	}
}

.lightbox{
	position: fixed!important;
	top: 50%!important;
	left: 50%!important;
	transform: translate(-50%,-50%);
}
