footer{
  letter-spacing: 2px;
  padding-top: 40px;
  padding-bottom: 20px;
  background: #f2f2f2;
  text-align: center;
  p{
    font-size: 10px;
    color: #555;
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .st0{
    fill:#555;
    stroke: none;
    transition:  all .3s;
  }
  svg{
    width: 30px;
    height: 30px; 
  }
  a:hover{
    text-decoration: none;
    .st0{
      fill:#aad9f5!important;
    }
  }
  @include media-max(){
    font-size: 14px;
    p{
      font-size: 14px;
    }
    .cst-container{
      width: 100%;
    }
  }
}
.footer-link{
  text-decoration: underline;
  color: #555;
  transition: color .3s;
  font-size: 10px;
  &:hover{
    text-decoration: underline;
    color: #aad9f5;
  }
  @include media-max(){
    font-size: 14px;
  }
}


