
// 材料特性內頁  , 合金導體內頁
// sim-button 查看更多

img,a{
	outline: none
}
button:focus,input:focus{
	outline: none;
}

// 首頁架構
// 最小高度
@media (min-width:1200px){
	// .container-wrapper{
	// 	min-height:100vh;
	// }
}

// 首頁架構 上下共同間距
.wrapper-space{
padding-top: 60px;
padding-bottom: 60px;
letter-spacing: 2px;
	h2{
	margin-bottom: 60px;
	text-align: center;
	font-weight: 400;
	}
}
.wrapper-space {
	@include media-max(){
		padding-top: 60px;
		padding-bottom: 60px;
		@media (max-width: 576px) {
			padding-top: 30px;
			padding-bottom: 30px;

		}
		h2{
			margin-bottom: 60px;
		}
		.sim-button{
			margin-top: 45px;
		}
	}
	@media (max-width: 576px) {
		h2 {
			//margin-bottom: 30px;
		}
	}
}

// 主架構
.cst-container{
	padding: 20px 2%;
	letter-spacing: 2px;
}
@media only screen and (min-width: 1442px){
	.cst-container{
		margin-left: auto;
		margin-right: auto;
		max-width: 1440px;
		width: auto;
	}
}
@media only screen and (max-width: 1442px){
	.cst-container{
		margin-left: auto;
		margin-right: auto;
		max-width: 1440px;
		width: 80%; 
	}
}

@media only screen and (max-width: 1068px){
	.cst-container {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
 }
}
@media only screen and (max-width: 735px){
	.cst-container {
		width: 90%;
		padding-right: 15px;
		padding-left: 15px;
 }
}

@media only screen and (max-width:576px){
	.cst-container {
		width: 100%;
		padding-right: 20px;
		padding-left: 20px;
 }
}
//index cst-container

.index .cst-container{
	max-width: 1120px;
}

// 安規認證  5格
.col-xl-20{
	@include media-min(1200px){
		flex: 0 0 20%;
    max-width: 20%;
	}
}

// _utilities 公用
// 上方大廣告標題
.page-title{
	font-weight: 400;
	margin: 20px 0;
	letter-spacing: 3px; 
	font-size: 16px !important;
	@include media-max(768px){
		margin: 20px 0;
	}
	@include media-max(){
		font-size: 16px
	}
}
// 內文區
.cst-container article, .container article {
	text-align: justify;
	margin: 0px 0 50px 0;
	color: #555;
	line-height: 1.8;
	p{
		font-weight: 300;
		color: #555;
		margin-bottom: 0;
		line-height: 25px;
	}
	br {
		content: "";
		display: block;
		height: 10px;
	}
	@include media-max(768px){
		margin: 20px 0 60px 0; 
	}
}

// 底圖
.full-background{
	top: 0;
	position: fixed;
	min-height: 100vh;
	max-height: 100vh;
	width: 100%;
	z-index: -1;
	background-size: cover;
  background-position: center;
}
// 集結頁共用上標題位子
.about-page-bg-title{
	display: flex;
	justify-content: center;
	&:hover{
		text-decoration: none
	}
}

// 集結頁兩欄式背景
.about-page-bg-col-2{
	@include bg(center,cover);
	height: 300px;
}
@media only screen and (max-width:768px){
	.about-page-bg-col-2{
		height: 300px;
	}
}
@media only screen and (max-width:576px){
	.about-page-bg-col-2{
		height: 300px;
	}
}
// 集結頁共用上標題內文
.about-page-bg-info{
	margin-top: 30px;
	color: #fff;
	letter-spacing: 3px;
	text-align: center;
	font-weight: 300;
	@include media-max(768px){
		margin-top: 40px;
	}
	@include media-max(){
		margin-top: 30px;
	}
}
.about-page-bg-info-black{
	color: #000;
}
// 集結頁主標題
.about-content-title{
	font-size: 16px; 
	margin-bottom: 10px;
	margin: 0;
	font-weight: 400;
	@include media-max(768px){
		font-size: 1.875rem;
		margin-bottom: 0
	}
	@include media-max(){
		font-size: 16px
	}
}
// 集結頁查看更多
.about-seemore{
	font-size: 14px;
	margin-bottom: 0;
	@include media-max(768px){
		font-size: 1.15rem
	}
	@include media-max(){
		font-size: .8rem
	}
}

// 商品資訊
.page-proditem-info-area{
	position: relative;
}
//商品資訊內文
.page-proditem-info{
	background: #fff;
	position: relative;
	border:1px solid #000;
	width: 97%;
	margin-left: auto;
	padding:2% 72px 2% 85px;
	margin-top: 40px;
	margin-bottom: 60px;
	text-align: justify;
	font-weight: 300;
	letter-spacing: 2.5px;
	line-height: 20px;
	z-index: 1;
	p{
		margin-bottom: 0;
	}
	@include media-max(1024px){
		width: 100%;
		padding: 80px 30px 20px;
	}
	@include media-max(768px){
		margin-bottom: 40px;
	}
	@include media-max(){
		padding: 50px 15px 20px;
	}
}
// 商品資訊上標題
.page-proditem-info-title{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left:0px;
	top:-40px;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	background: rgba(0,0,0,.8);
	color: #A0D1EB;
	z-index: 2;
	flex-direction: column;
	@include media-max(1024px){
		width: 400px;
		top: -50px;
		left: 50%;
		transform: translateX(-50%);
		font-size: 1.875rem;
	}
	@include media-max(){
		width: 240px;
		height: 70px;
		font-size: 1.2rem;
		top: -35px;
	}
	p {
		font-size: 14px;
	}
}
.page-proditem-info-title-area{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	text-align:center;
	p {
		font-size: 14px;
		font-weight: 300;
	}
}


// 膠囊
.badge-capability{
	padding: 10px 15px;
	font-size: 14px;
	border-radius: 0rem;
	font-weight: 400;
	& + p{
		font-weight: 300;
		text-align: justify;
		line-height: 1.8;
	}
	@include media-max(){
		font-size: 14px;
	}
}

// 材料特性內頁 合金導體內頁
// sim-button 
.page-material,.page-product{
  .sim-button{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  @include media-max(768px){
    .sim-button{
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

h2 {
	font-size: 18px;
}

p {
	font-size: 14px;
}

.page-material-section {
	@media (max-width: 768px) {
		margin-top: 100px;
		
	}
	@media (max-width: 576px) {
		margin-top: 70px;
		
	}
}