
.special-button{
  width: 45px;
  height: 45px; 
  display: block;
  position: absolute;
  top: 15px;
  right: 20px;
  svg{
    width: 50px;
  }
  @include media-max(768px){
    top: 20px;
    right: 20px;
    svg{
      width: 45px;
    }
    .top, .bottom{
      width: 25px;
      height: 3.5px;
      left: 10px;
    }
    .top{
      top: 13px;
    }
    .bottom{
      top: 30px;
    }
    .top.active,.bottom.active{
      top: 21px;
      left: 10px;
    }
  }
  @include media-max(){
    top: 8px;
  }
}
.st0{
  fill:none;
  stroke:#459cd1;
  stroke-width:12;
  stroke-miterlimit:10;
  stroke-dasharray: 500;
  stroke-dashoffset: 2430;
  transition: stroke-dasharray 0.6s ease,
              stroke-dashoffset 0.6s ease;
  &.active{
     stroke-dasharray: 500;
     stroke-dashoffset: 1880; 
     stroke-width:7;
  }
}
.top, .bottom{
  pointer-events: none;
  width: 27px;
  background-color:#459cd1;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  left: 12px;
  &.active{
    left: 11px;
  }
  transition: transform 0.6s ease,
              top 0.6s ease,
              left 0.6s ease;
}
.top{
  top: 15px;
  &.active{
    transform: rotate(45deg);
    top: 23px;
  }
}
.bottom{
  top: 33px;
  &.active{
    transform: rotate(-45deg);
    top: 23px;
  }
}

@media (max-width:1200px){
  .navbar-hamburger-wrapper{
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    width: 60px;
    background: #fff;
  }
}


.navbar-toggler {
  border: none;
  background: transparent !important;
  text-align: right !important;
  
  &:focus {
    outline: none;
    background: transparent !important;
  }
  .icon-bar {
    background-color: rgba(#8AB3CC, 0.9);
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .2s;
    display: block;
    width: 25px;
    height: 2px;
    right: 0;
    border-radius: 1px;
    //box-shadow: 0 1px 5px black

    + .icon-bar {
      margin-top: 4px;
    }
  }
  .icon-bar:nth-child(1) {
    width: 25px;
    transition: ease all .2s;
  }
}

.navbar-toggler {
  &:hover > .icon-bar:nth-child(2), &:active > .icon-bar:nth-child(2) {
    width: 20px;
    transition: ease all .2s;
  }
  &:not(.collapsed) {
    &:before {
      opacity: 1;
    }
    .icon-bar {
      &:nth-child(1){
        transform: rotate(45deg) translate(4px, 7px);
        transition: ease all .2s;
      }
      &:nth-child(2){
        opacity: 0;
        transition: ease all .2s;
      }
      &:nth-child(3){
        transform: rotate(-45deg) translate(2px, -4px);
        transition: ease all .2s;
      }
      &:nth-child(4){
        opacity: 0;
      }
    }
  }
}

.collapsing {
  //opacity: 0 !important;
  transition: height 0s !important;
}
  
