
/* 首頁
================================== */
// ====應用產業====
.products-business{
 background: #EDEEEF;
}

// ===最新消息====
.hotnews-section{
  @include bg(top,cover);
  background-repeat: no-repeat;
  a:hover{
    text-decoration: none;
  }
 .hotnews-item{
   color: #000;
   font-weight: 300; 
   letter-spacing: 3px;
   .hotnews-item-title{
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
    & p:nth-child(1) {
      font-weight: bolder;
      padding-right: 15px;
      // flex: 0 0 auto;
      transition : all .3s;
      margin-bottom: 0;
      width: 125px;
    }
    & p:nth-child(2){
      // flex: 1 1 0;
      padding-bottom: 15px;
      margin-bottom: 0px;
      word-break: break-all;
      text-align: justify;
      transition : all .3s;
    }
    div{
      transition: all .3s;
    }
   }
   &:hover .hotnews-item-title div{
    transform: scale(1.05);
   }
 }
 & .hotnews-item:nth-last-child(1){
   margin-bottom: 0;
 }
 .hotnews-btn-mt{
   margin-top: 100px;
   margin-bottom: 100px; 
 }
 @include media-max{
  .hotnews-btn-mt{
    margin-top: 60px;
    margin-bottom: 60px; 
  }
 }
 & .w-100:nth-last-child(1) .hotnews-item-title{
   margin-bottom: 0;
 }
}
@media (min-width:768px){
  .hotnews-item div{
    display: flex;
  }
}
@media (max-width:576px){
  .hotnews-item{
    padding-left: 40px;
    padding-right: 40px;
  }
}
// ===常用連結===

.commonly-associate{
  @include bg(center,cover);
  @include media-max(992px){
    background-size: cover;
    background-position: center;
  }
}




/* 無衝突聲明
================================== */


.statement-bg{
  background-size: cover;
  background-position: center;
  background-image: url('./../image/statement-bg.jpeg');
  padding: 50px 0;
  @include media-min(2000px){
    padding: 300px 0;
  }
  @include media-range(1280px,992px){
   padding: 100px 0;
  }
  .cst-container{
    max-width: 1120px;
    padding: 1px 40px 1px 40px;
  }
  .page-title{
    margin: 30px 0 !important; 
  }
  article{
    margin: 20px 0 50px 0;
  }
  
  @include media-max(768px){
    .cst-container{
      padding: 1px 25px 1px 25px;
    }
    .page-title{
      margin: 50px 0;
    }
    article{
      margin: 0px 0 50px 0;
    }
  }
  @include media-max(){
    .page-title{
      margin: 50px 0;
    }
  }
}
.statement-container{
  opacity: .95;
  background-color: #fff;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}


/* 聯絡我們
================================== */

.contact-us-bg{
  @include bg(center,cover);
  @include media-range(768px,576px){
    .page-title{
      margin-top: 40px;
      margin-bottom: 60px;
    }
  }

  

  @media (max-width: 768px) {
    padding-top: 1px;
  }
  @media (max-width: 576px) {
    // .page-title.text-center {
    //   margin-top: 60px;
    // }
    padding-top: 20px;
  }
}
.contact-us-info {
  border-radius: 15px;
  padding-top: 70px;
  padding-bottom: 50px;
  margin-top: 80px;
  margin-bottom: 50px;
  background: #fff;
  text-align: center;
  h3{
    font-weight: 300;
    padding: 5px 30px;
    display: inline-block;
    background: #000;
    color:#fff;
    margin-bottom: 50px;
    font-size: 14px;
    
  }
  img{
    width: 30px;
  }
  @include media-max(768px){
    img{
      width: 30px;
      height: 30px;
      display: inline-block;
    }
    margin-top: 40px;
    margin-bottom: 70px
  }
  @include media-max(){
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    h3{
      margin-bottom: 30px;
      font-size: 14px; 
      padding: 5px 20px;
    }
  }
}
.contact-us-info-detail{
  text-align: left;
  span {
    font-size: 14px !important;
  }
  @include media-max(767px){
    .row{
      width: 420px;
      margin: auto;
    }
    .contact-us-info-flex{
      display: flex;
      span {
        font-size: 14px !important;
      }
    }
  }
  @include media-max(){
    .row{
      width: 100%;
    }
  }
}

// ===其他聯絡方式===
.another-contact{
  background: #fff;
  padding-top: 20px;
  .page-title {
    font-size: 14px;
  }
  @include media-range(768px,576px){
    .page-title{
      margin-top: 40px;
      margin-bottom: 60px;
    }
  }
  @include media-max(){
    .page-title{
      margin-top: 30px;
      margin-bottom: 50px;
    }
  }
}
.another-contact-link{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 0px  0px 40px;
  img{
    width: 100px;
    height: 100px;
    vertical-align: baseline;
  }
   a:nth-of-type(2) img{
    width: 110px;
    height: 113px;
   }
  @include media-max(768px){
    padding: 0px  30px 40px;
    img{
      width: 80px;
      height: 80px;
    }
    a:nth-of-type(2) img{
      width: 80px;
      height: 83px;
    }
  }
  @include media-max(){
    padding: 0px  30px 30px;
    img{
      width: 50px;
      height: 50px;
    }
    a:nth-of-type(2) img{
      width: 50px;
      height: 53px;
    }
  }
}

// ===業務專員===
.contact-us-sales{
  background: rgba(#F4F5F6, 0.7);
  h5{
    font-weight: 300;
    padding: 5px 40px;
    display: inline-block;
    background: #000;
    color:#fff;
    margin-bottom: 30px;
    font-size: 14px;
  }
  @include media-max(){
    h5{
      margin-bottom: 10px;
    }
  }
}
.contact-us-sales-personal{
  display: block;
  img{
    width: 50px;
    height: 50px;
  }
  p{
    margin-bottom: 0;
  }
  @include media-max(768px){
    img{
     display: block;
     margin-right: auto!important;
     margin-bottom: 5px;
     margin: auto; 
    }
  }
}
.contact-sales-info{
  display: inline-block;
  width: 200px;
  vertical-align: middle;
}
.contact-us-oversea-sales{
  position: relative;
  &::before{
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: #B0B1B2;
  }
  @include media-max(767px){
    h5{
      margin-top: 30px;
    }
  }
  @include media-max(){
    h5{
      margin-top: 10px;
    }
  }
}
@media only screen and (max-width:768px){
  .contact-us-oversea-sales::before{
    display: none;
  }
}
@media only screen and (max-width:400px){
  .contact-us-sales-personal {
    font-size: 14px;
    img{
      width: 40px;
      height: 40px;
    }
  }
}
// iframe 地圖
.contact-map{
  height: 400px;
  iframe{
    height: 100%;
  }
}


/* 日進電線集結頁
================================== */
.about-nizing {
  @media (max-width: 768px) {
    max-width: 100% !important;
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (max-width: 576px) {
    padding-left: 0px;
    padding-right: 0px;
    .about-content-title {
      font-size: 16px !important;
    }
    .about-seemore {
      font-size: 14px !important;
    }
  }
}

.about-nizing .row{
  &:nth-of-type(even){
    flex-direction: row-reverse;
  }
  &:hover{
    text-decoration: none;
  }
}
.about-nizing-bg{
  height: 300px;
  @include bg(center,cover);
  @include media-max(768px){
    height: 300px;
  }
  @include media-max(){
    height: 200px;
  }
   
}
.about-nizing-info{
 display: flex;
 justify-content: center;
 align-items: center;
 background: #525354;
 color: #fff;
 text-align: center;
 letter-spacing: 3px;
 font-weight: 400;
 @include media-max(){
   padding: 15px;
 }
}
.about-nizing-info-content{
  font-weight: 300;
  @include media-max(768px){
    .about-seemore{
      font-size: 14px;
    }
  }
  @include media-max(){
    .about-content-title{
      font-size: 18px;
      margin-bottom: 0;
    }
    .about-seemore{
      font-size: 0.8rem;
    }
  }
}

/* 合金導體集結頁
================================== */

.about-alloy-bg{
  @include bg(center,cover);
  height: 300px;
}
/* 合金導體 內頁
================================== */

.page-material{

  .table td , .table th{
    padding: 15px 30px;
    word-break: break-all;
    word-wrap: break-word;
    

    @media (max-width: 768px) {
      padding: 0 !important;
      font-size: 14px;
    }
    @media (max-width: 576px) {
      padding: 0 !important;
      font-size: 14px;
    }
    span {
      //width: 10px;
      display: block;
      word-wrap: break-word;
      word-break: break-all;
      
    }
    img {
      width: 100%;
      @media (max-width: 768px) {
        width: 80%;
      }
    }
  }
}
.page-material-info{
  border: 0px solid;
  background-color: #EDEEEF;
  font-size: 14px;
  line-height: 20px
}
.page-material-table{
  width: 97%;
  margin-left: auto;
  margin-bottom: 60px;
  .table{
    margin: 0;
    table-layout: fixed;
    * {
      font-size: 14px !important;
    }
  }
  @include media-max(1024px){
    width: 100%;
    margin-bottom: 40px;
  }
}
.page-material-bg{
  width: 97%;
	margin-left: auto;
  @include bg(center,cover);
  height: 350px;
}

@media only screen and (max-width:576px){
  .page-material-bg{
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
  }
}

/* 應用產業集結頁
================================== */
.about-application {
  @media (max-width: 768px) {
    padding: 0 30px;
    max-width: 100%;
  }
  @media (max-width: 576px) {
    padding: 0 15px;
    max-width: 100%;
  }

  .row.mb-10 {
    @media (max-width: 768px) {
      //height: 300px;
    }
  }
  
}

@media only screen and (width:1024px){
  .about-application{
    .about-application-bg-B {
      height: 550px;
    }
    .about-page-bg-col-2{
      height: 600px;
    }
  }
  
}
.about-application-bg-B{
  @include bg(center,cover);
  height: 300px;
} 
.about-application-bg-B , .about-page-bg-col-2{
  @include media-max(768px){
    .about-page-bg-info{
      margin-top: 40px;
    }
    .about-content-title{
      font-size: 18px; 
      margin-bottom: 0px;
    }
    .about-seemore{
      font-size: 14px
    }
  }
  @include media-max(576px){
    .about-page-bg-info{
      margin-top: 30px;
    }
    .about-content-title{
      font-size: 16px; 
    }
    .about-seemore{
      font-size: .8rem
    }
  }
}
@media only screen and (max-width:768px){
  .about-application-bg-B , .about-alloy-bg{
    height: 300px;
  }
}
.about-application .about-application-bg-B:nth-of-type(1){
  background-image: url('./../image/about/about-application-01.jpg');
}
.about-application .about-application-bg-B:nth-of-type(2){
  background-image: url('./../image/about/about-application-04.jpg');
}
.about-application .about-application-bg-B:nth-of-type(3){
  background-image: url('./../image/about/about-application-07.jpg');
}
.about-application .about-application-bg-B:nth-of-type(4){
  background-image: url('./../image/about/about-application-010.jpg');
}
@media only screen and (max-width:576px){
  .about-application .about-application-bg-B:nth-of-type(1){
    background-image: url('./../image/about/about-application-M-01.jpg');
  }
  .about-application .about-application-bg-B:nth-of-type(2){
    background-image: url('./../image/about/about-application-M-04.jpg');
  }
  .about-application .about-application-bg-B:nth-of-type(3){
    background-image: url('./../image/about/about-application-M-07.jpg');
  }
  .about-application .about-application-bg-B:nth-of-type(4){
    background-image: url('./../image/about/about-application-M-10.jpg');
  }
}


/* 材料特性
================================== */

.about-material .row {
  justify-content: space-between;
  .col-sm-6{
    flex : 0 0 49.5%;
  }
}

@media only screen and (min-width:1442px){
  .about-material-bg-col-2{
    height: 300px;
  }
}
@media only screen and (max-width:1442px){
  .about-material-bg-col-2{
    height: 300px;
  }
}
@media only screen and (max-width:1068px){
  .about-material-bg-col-2{
    height: 300px;
  }
}
@media only screen and (max-width:768px){
  .about-material-bg-col-2{
    height: 300px;
  }
}

@media only screen and (max-width:576px){
  .about-material .row .col-12{
    flex : 0 0 100%!important;
  }
}
.about-material-bg-col-2{
  @include media-max(){
    height: 300px;
  }
}
// 材料特性內頁
.page-product{
  @include media-max(){
    .page-proditem-info{
      border: 1px solid rgba(0,0,0,.5);
    }
  }
}
.proditem-product-m {
  margin-bottom: 80px;
  div {
    font-size: 14px;
  }
  @include media-max(){
    margin-bottom: 60px
  }
}

.page-product .page-proditem-info-area:nth-last-child(2) .proditem-product-m{
margin-bottom: 0;
}

/* 產品資訊集結頁
================================== */

.about-product-body{
  background: #E9EAEB;
}
.about-product-breadcrumb{
 background-color: #E9EAEB;
 .cst-container{
   padding: 20px 2%;
   .breadcrumb{
     padding-top: 0;
   }
   .breadcrumb-item a , .breadcrumb-item.active{
     color: #000;
     font-weight: 200;
   }
 }
}
.about-product-bg{
  @include bg(center,cover);
  height: 300px;
  &:hover{
    text-decoration: none;
  }
  @include media-max(768px){
    height: 300px;
  }
}
.about-product .about-product-bg{
  &:nth-of-type(even){
    flex-direction: row-reverse;
  }
}
.about-product-info{
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 letter-spacing: 3px;
 font-weight: 400;
 color: #000;
 @include media-max(768px){
   .about-content-title{
     font-size: 18px;
     margin-bottom: 0;
   }
   .about-seemore{
     font-size: 14px;
   }
 }
 @include media-max(){
  .about-content-title{
    font-size: 16px;
    margin-bottom: 0;
  }
  .about-seemore{
    font-size: 14px;
  }
}
}
.about-product-info-white{
 color: #fff;
}

.about-product .cst-container .row , .about-product .container-prod .row {
  justify-content: space-between;
  .col-sm-6{
    flex : 0 0 49.5%;
  }
}
//兩欄式
.about-prod-bg-col-2{
 height: 300px;
 @include media-max(768px){
  height: 300px; 
  .about-content-title{
    font-size: 16px;
    margin: 0;
  }
  .about-seemore{
    font-size: 14px;
  }
 }
}

@media only screen and (max-width:768px){
  .about-product .about-product-bg:nth-of-type(1){
    background-position: 80%;
  }
}
@media only screen and (max-width:576px){
  .about-product-info{
    margin-top: 60px;
    align-items: flex-start
  }
  .about-product .about-product-bg:nth-of-type(2){
    background-position: -200px; 
  }
  .about-product .cst-container .row .col-12 , .about-product .container-prod .row .col-12{
    flex: 0 0 100%!important
  }
}
/* 產品資訊內集結頁
================================== */
.about-prod-item-jumbotron{
  background-image: initial;
  background: transparent;
  padding-bottom: 20px;
  padding-top: 20px;
  @include media-min(576px){
    padding-top: 40px;
    padding-bottom: 40px;
  }
  h1{
    color: #000;
  }
}
.page-proditem-list{
  margin-top: 20px; 
  @include media-min(1200px){
    .page-proditem-list-item:nth-of-type(3n){
      margin-right: 0px;
    }
  }
  @include media-max(768px){
    margin-top:0;
  }
  @include media-range(1200px,576px){
    .page-proditem-list-item:nth-of-type(2n){
      margin-right: 0px;
    }
  }
}
.page-proditem-list-img{
  position: relative;
  padding-bottom: 67.25%;
  img{
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.page-proditem-list-item-en{
  font-size: 14px;
  letter-spacing: 1px!important;
  .page-proditem-list-detail{
    color: #948f8f;
  }
 
  @include media-min(1200px){
    .page-proditem-list-title{
      height: 140px;
    }
  }
  @include media-range(1200px,650px){
    .page-proditem-list-title{
      height: 140px;
    }
  }
  @include media-range(650px,576px){
    .page-proditem-list-title{
      height: 160px;
    }
  }
}
.page-proditem-list-item-zh{
  @include media-min(1300px){
    .page-proditem-list-title{
      height: 80px; 
    }
  }
  @include media-range(1300px,576px){
    .page-proditem-list-title{
      height: 120px;
    }
  }
 
}
.page-proditem-list-item{
  .wrapper {
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,.2);
  }
  padding: 10px;
  //margin-right: 20px;
  margin-bottom: 20px;
  letter-spacing: 2.5px;
  
  p{
    margin-bottom: 5px
  }
  @include media-min(1200px){
    max-width: calc((100%/3) - 15px);
  }
  @include media-range(1200px,576px){
    max-width: calc((100%/2) - 10px); 
  }
  @include media-max(){
    margin-right: 0px;
  }
}
.page-proditem-list-info{
  padding: 20px 15px 15px ;
  background: #fff;
}
.page-proditem-list-detail{
  padding: 10px 7px 0px;
  color: #CCCDCE;
  font-weight: 100; 
  @include media-max(){
    padding: 10px 0px 0; 
  }
}

/* 產品內頁 page-item-inner
================================== */
.item-inner-wrapper{
  background: #000;
  color: #fff;
  text-align: center;
  .breadcrumb-item , .breadcrumb-item a{
    color: #D4D4D4!important;
  }
  @include media-min(769px){
    padding-top: 20px;
  }
}
.Download_item-pdf{
  opacity: .6;
  text-align: center;
  color: #fff;
  transition: opacity .3s;
  margin-bottom: 30px ;
  display: inline-block;
  font-size: 14px;
  img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align: sub;
  }
  &:hover{
    opacity: 1;
    color: #fff;
  }
  @include media-max(){
    margin-bottom: 50px;
  }
}
.item-inner-content{
  padding-top: 1px;
  .img-wrap {
    margin-bottom: 20px;
    img {
      width: 100%;
    }
  }
  h1{
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 0;
    text-align: center;
    margin: 40px 0px 20px;
    font-size: 18px;
    @include media-max(){
      font-size: 1.3rem;
      margin: 40px 0px 20px;
    }
    @media (max-width: 768px) {
      // margin: 100px 0px 20px;
    }
  }
  .Slick_item-info{
    margin-bottom: 20px;
    @include media-max(){
      margin-bottom: 20px;
    }
  }
}
.Slick_item-banner{
  position: initial;
  padding: 0 ;
  .slider-item-img{
    @include media-min(1280px){
      padding-bottom:46.25%
    }
    @include media-max(1280px){
      padding-bottom: 52.25%;
    }
    @include media-max(992px){
      padding-bottom: 56.25%;
    }
  }
  .slider-item{
    margin: 0;
  }
  .slider-arrow{
    top: calc( 50% - 5px);
    background: transparent;
  }
  .arrow-prev{
    left: -100px;
    @include media-range(1600px,1442px){
      left: -2.5%;
    }
    @include media-max(1440px){
      left: -90px;
    }
    @include media-max(767px){
      left: -40px;
    }
    @include media-max(){ 
      .fas{
        font-size: 50px;
      }
      left: -20px;
    }
  }
  .arrow-next{
    right: -100px;
    @include media-range(1600px,1442px){
      right:-2.5%;
    }
    @include media-max(1442px){
      right: -90px;
    }
    @include media-max(767px){
      right: -40px;
    }
    @include media-max(){
      .fas{
        font-size: 50px;
      }
      right: -20px;
    }
  }
  .slick-dots{
    margin-bottom: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    li button{
      margin-right: 10px;
      width: 7px;
      height: 7px;
      border-radius: 100%;
      font-size: 0;
      border: 0px;
      padding: 0;
    }
    li.slick-active button{
      background: #aad9f5;
    }
  }
  @include  media-max(){
    padding: 0 25px;
  }
}


.Slick_item-info{
  padding: 0 100px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 3;
  p{
    font-weight: 200;
    margin-bottom: 0;
  }
  @include  media-max(){
    padding: 0 10px;
  }
}
.Slick_item-info-title{
  font-size: 16px !important;
  margin-top: 60px;
  margin-bottom: 60px;
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #fff;
  border-radius: 10px;
  font-weight: 400;
  @include media-max(){
    font-size: 14px !important;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
.Slick_item-info-title-range{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 16px;
  @include media-max(768px){
    margin-top: 30px;
  }
  @include media-max(){
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px !important;
  }
}
.Slick_item-info-title-skill{
  margin-top: 30px;
  margin-bottom: 30px;
  @include media-max(769px){
    margin-top: 0px;
  }
  @include media-max(){
    //margin-top: 20px;
    margin-bottom: 20px;
  }
}
.Slick_item-info-title-pro{
  margin-top: 30px;
  margin-bottom: 30px;
  @include media-max(769px){
    margin-top: 40px;
    margin-bottom: 20px;
  }
  @include media-max(){
    margin-top: 40px;
    margin-bottom:20px;
  }
}
.Slick_item-info-title-data{
  margin-top: 90px;
  margin-bottom: 80px;
  @include media-max(769px){
    margin-top: 140px;
  }
}
.Slick_pro{
  @include  media-max(){
    padding: 0 25px;
    .slider-item .img-fluid{
      max-width: 90%!important;
    }
  }
  .slider-arrow{
    top: 50%;
    background:transparent;
    &:hover{
      background:transparent;
    }
  }
  .fas{
    font-size: 50px;
    color: #d4d4d4;
  }
  .slider-item-nm {
    margin-left: 10px;
    margin-right: 10px;
  }
  .slick-dots{
    display: flex;
    position: absolute;
    bottom: -45px;
    margin-bottom: 0;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    li{
      list-style: none;
    }
    li.slick-active button{
      background: #aad9f5;
    }
    button {
      margin-right: 10px;
      width: 7px;
      height: 7px;
      border-radius: 100%;
      font-size: 0;
      border: 0;
      padding: 0;
      background: #eee;
    }
  }
  .arrow-prev{
    left: -100px;
    @include media-range(1600px,1442px){
      left: -2.5%;
    }
    @include media-max(1440px){
      left: -90px;
    }
    @include media-max(767px){
      left: -40px;
    }
    @include media-max(){ 
      left: -20px;
    }
  }
  .arrow-next{
    right: -100px;
    @include media-range(1600px,1442px){
      right:-2.5%;
    }
    @include media-max(1442px){
      right: -90px;
    }
    @include media-max(767px){
      font-size: 60px;
      right: -40px;
    }
    @include media-max(){
      font-size: 50px;
      right: -20px;
    }
  }
}

.Slick_item-info-title-black{
  border: 1px solid #000;
}
.item-table-wrapper{
  text-align: center;
  .Slick_item-info-title{
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
/* 製程能力
================================== */

.about-capability{
  background: #272727;
  color: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
  .breadcrumb-item a , .breadcrumb-item.active{
    color: #fff;
  }
  .page-title{
    text-align: center;
  }
}
// .marquee-capability .marquee-bg{
//   height: 300px;
//   width: 300px;
//   @include media-max(){
//     height: 200px;
//     width: 200px;
//   }
// }

.about-capability-bg{
  @include bg(center,cover);
  overflow: hidden;
  position: relative;
  height: 610px;
  .page-title{
    text-align: center;
    color: #fff;
    margin: 60px 0 40px 0;
  }
  @include media-max(1024px){
    height: 510px;
  }
  @include media-max(992px){
      height: 510px;
  }
  @include media-max(768px){
    height: 450px;
  }
  @include media-max(){
    height: 330px;
    .page-title{
      margin: 50px 0 0px 0;
    }
  }
  @include media-max(450px){
    height: 270px;
    .page-title{
      margin: 35px 0 0px 0;
    }
  }
}

#imageFlow  , #imageFlow2{
  /* position: absolute; */
  width: 100%;
  height:90%;
}
#imageFlow .bank , #imageFlow2 .bank {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.85);
  height: 75px;
  z-index: 1;
}
#imageFlow .diapo,#imageFlow2 .diapo {
  position: absolute;
  left: -1000px;
  cursor: pointer;
  -ms-interpolation-mode: nearest-neighbor;
  bottom: 45px!important;
  border:  transparent 1px solid;   
}

#imageFlow .bank a,	#imageFlow2 .bank a{
  visibility: hidden;
}

#imageFlow .text,#imageFlow2 .text {
  position: absolute;
  left: 0px;
  width: 100%;
  bottom: 20px;
  text-align: center;
  color: #FFF;
  font-family: verdana, arial, Helvetica, sans-serif;
  z-index: 1000;
}
#imageFlow .title,#imageFlow2 .title {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  @include media-max(){
    font-size: 14px;
  }
}
#imageFlow .legend,#imageFlow2 .legend {
  font-size: 0.8em;
}
#imageFlow .scrollbar,#imageFlow2 .scrollbar {
  position: absolute;
  bottom: 40px;
  width: 100%;
  max-width: 800px;
  height: 16px;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
}
#imageFlow .arrow-left,#imageFlow2 .arrow-left ,#imageFlow .arrow-right,#imageFlow2 .arrow-right  {
  z-index: 2;
  font-size: 30px;
  color: rgba(255,255,255,.6);
  cursor: pointer;
  transition: all .3s;
  &:hover{
    color: rgba(255,255,255,1);
  }
}
#imageFlow .arrow-left,#imageFlow2 .arrow-left{
  position: absolute;
  left: 0;
}
#imageFlow .arrow-right,#imageFlow2 .arrow-right {
  position: absolute;
  right: 0;
}

@media only screen and (max-width:992px){
 
  #imageFlow .scrollbar,#imageFlow2 .scrollbar{
    max-width: 400px;
  }
}
@media only screen and (max-width:576px){

  #imageFlow .scrollbar,#imageFlow2 .scrollbar{
    width: 80%;
    bottom: 30px;
  }
  #imageFlow .bank , #imageFlow2 .bank {
    height: 60px;
  }
  #imageFlow .text,#imageFlow2 .text{
    bottom: 15px;
  }
}

/* 安規認證集結頁
================================== */
.about-main-certificate-container{
  padding-bottom: 0px;
  @include media-max(768px){
    padding-top: 0px;
  }
  .container-fluid .row:nth-of-type(1){
    margin-top: 20px;
    @include media-max(768px){
      margin-top: 10px;
    }
  }
}
.about-certificate-bg{
  @include bg(center,cover);
  height: 300px;
  @include media-max(768px){
    height: 300px;
  }
}

/* 安規認證內頁
================================== */
.about-certificate-container{
  @include media-max(){
    //padding-bottom: 10px;
  }
}
.about-certificate{
  text-align: center;
  padding-top: 30px;
  //padding-bottom: 30px;
  @include media-min(768px){
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .row{
    @include media-min(768px){
      div{
        margin-bottom: 10px;
      }
    }
  }
  img{
    // width: 100%;
    // max-width: 50%;
    // padding: 25px;
    @include media-max(768px){
      width: 80%;
    }
  }
  // img:hover{
  //   outline: 3px solid #ACDAF5
  // }
  @include media-max(){
    .col-6{
      //margin-bottom: 30px;
    }
    img{
      //padding: 10px;
    }
  }
}
.page-certificate{
  .col-xl-20{
    @include media-min(768px){
      margin-bottom: 10px;
    }
  }
  .lightboxImg{
    margin-bottom: 40px !important;
    @include media-max(768px){
     margin-bottom: 30px;
      img{
        width: 110%;
        max-width: 110%;
      }
    }
    @include media-max(){
      img{
        width: 100%;
        max-width: 100%;
      }
    }
  }
  img{
    @include media-min(992px){
      width: 110%;
      max-width: 110%;
    }
    padding: 10px;
    border: 1px solid rgba(0,0,0,.4);
  }
}

/* 歷史紀錄
================================== */
.history-bg{
  @include bg(center,cover);
  background-repeat: no-repeat;

} 


.about-material {
  padding: 0 30px !important;
  @media (max-width: 768px) {
    max-width: 100% !important;
  }
}

// .item-inner-content {
//   .slider-item-img {
//     padding-bottom: 
//   }
// }

.sound {
  cursor: pointer;
  background: none;
  border: none;
  left: 5px;
  top: 10px;
  position: relative;
  z-index: 1000000;
  i {
    color: white;
    font-size: 20px;
  }
}


