@mixin bg($position:center,$size:cover) {
  background-position: $position;
  background-size: $size;
}

@mixin media-min($min){
  @media only screen  and (min-width:$min) {
    @content 
  }
}
@mixin media-max($max:576px){
  @media only screen  and (max-width:$max) {
    @content
  }
}
@mixin media-range($max,$min){
  @media only screen and (max-width:$max) and (min-width:$min) {
    @content
  }
}