// 搜尋欄 導覽列
header{
  position: fixed;
  top: 0;
  z-index: 1001;
  width: 100%;
  //background: #fff;
  font-size: 14px;
  
  .breadcrumb-item.active{
	 color: #555;
  }
  .breadcrumb-item a{
    color: #fff;
  }
  .breadcrumb-item+.breadcrumb-item::before{
    content:'/';
    color: #fff; 
  }
}
.navbar{
  max-height: 100vh;
  //height: 80px;
  padding: 0px;
}
.navbar-nav {

  @media (max-width: 1199px) {
    width: 50%;
    background: #fff;
    height: 100vh !important;
    box-shadow: 0 1px 10px rgba(#000, 0.1);
    overflow-Y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  
  
}


.navbar-menu{
  justify-content: center;
}
.dropdown-toggle::after{
  display: none;
  border: 0;
  margin-right: 0;
  margin-left: 0;
  vertical-align: 0;
}
.navbar-info{
  background: #000;
  display: flex;
  align-items: center;
  .breadcrumb{
    padding: 5px;
    background: transparent;
  }
} 
.navbar-info-link , .navbar-info-link a{
  color: #fff;
  transition: all .3s;
  &:hover{
    text-decoration: none;
    color: #8AB3CC;
  }
}
.navbar-search{
  display: flex;
  height: 40px;
  font-size: 0;
  align-items: center;
  input,button{
    vertical-align: top;
    height: 40px;
    font-size: 16px;
  }
  input{
    height: 32px;
    vertical-align: middle;
    transition: width .3s;
  }
}
.navbar-search-text{
  padding: 0;
  width: 0;
  border: 1px solid #525354;
}
.navbar-search-btn{
  border: 0;
  background: #525354;
  color: #fff;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
}
.navbar-search:hover .navbar-search-text{
  width: 100px;
  padding-left: 2px;
  //border-width: 2px;
}
// navbar 選單
.navbar-brand {
  margin: 0;
  min-width: 1px;
  min-height: 1px;
  padding-left: 1rem;
  position: relative;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  img{
    width: 120px;
    height: 40px;
  }
  // @include media-min(1400px){
  //   margin-left: 40px;
  // }
  @include media-max(){
      padding-bottom: 0px;
      padding-top: 0px;
    img{
      width: 120px;
    }
  }
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
  }
}

.navbar-light .navbar-nav .nav-link{
  letter-spacing: 2.5px;
  color: #000;
  position: relative;
  transition:  color .3s;
  padding-top: 20px;
  padding-bottom: 20px;
  @include media-min(1199px){
    &::after{
      content:'';
      display: inline-block;
      width: 0%;
      position: absolute;
      height: 2px;
      background: #000;
      bottom: 5px;
      left: 50%;
      transform: translateX(-50%);
      transition: width .3s;
      transform-origin: left;
    }
    &:hover::after{
      width: 25%;
    } 
  }
}

.navbar-info-link-mobile{
  .navbar-search:hover .navbar-search-text{
    width: 100%;
    padding-left: 2px;
    border-width: 2px;
  }
  .navbar-search-text{
    width: 100%;
    padding-left: 2px;
    border-width: 2px;
  }
}

@media (min-width:1200px){
 .navbar-info-link-mobile{
    display: none;
  } 
}
@media only screen and (max-width:1300px) and (min-width:1200px){
  .navbar-expand-xl .navbar-nav .nav-link{
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media only screen and (max-width:1200px){
  .navbar-info{
    display: none;
  }
}

//下拉選單
.nav-link{
  padding:  2rem 0.5rem
}
.nav-item{
  @include media-max(1199px){
    .nav-link{
      padding: 1rem .5rem;
      text-align: left;
      position: relative;
    }
  }
}
.nav-item.dropdown{
  position: initial;
  @include media-max(1199px){
    .nav-link{
      border-bottom: 1px solid #aaa;
    }
    .nav-link:after{
      content:'\f107';
      font-family: "Font Awesome 5 Free"; 
      font-weight: 900; 
      display: inline-block;
      position: absolute;
      right: 20px;
      top: 50%;
      font-size: 25px;
      margin-top: -18px;
      color: #666;
    }
    h3{
      display: none
    }
    .dropdown-menu{
      border: 0px solid ;
      text-align: left
    }
    .dropdown-menu .cst-container{
      padding: 1%;
      width: 100%;
      a{
        padding: 0;
      }
      .row {
        @media (max-width: 1199px){
          margin: 0;
        }
      }
    }
  }
}
.nav-item.dropdown.show{
  @include media-max(1199px){
    .nav-link:after{
      content:'\f106';
    }
  }
}

.dropdown.show .nav-link::after , .dropdown:hover > .nav-link::after{
  @include media-min(1200px){
    width: 25%;
  }
}
.dropdown-menu{
  width: 100%;
  border-radius: 0;
  margin: 0 ;
  right: 0;
  border: 0;
  border-top: 2px solid #f2f2f2;
  span{
    display: inline-block;
    padding: 8px 20px;
  }
  h3{
    font-size: 14px;
    a{
      color: #000;
    }
  }
  @include media-max(1200px){
    h3{
      text-align: center;
      margin-bottom: 30px!important;
    }
  }
  @include media-max(){
    font-size: 14px;
  }
}
.dropdown-menu a:hover  {
  text-decoration: none;
  .dropdown-item{
    
    color :#8ab3cc;
    background: #000;
  }
}
.dropdown-item{
  color: #000;
  font-weight: 300;
  width: auto;
  display: inline-block;
  border-radius: 10px;
  letter-spacing: 3px;
  font-size: 14px;
}
.dropdown-menu .close{
  float: right;
  cursor: pointer;
}
@media only screen and (min-width:1200px){
  .dropdown:hover > .dropdown-menu{
    display: block;
  }
}
@media only screen and (max-width:1200px){
  .dropdown-menu .close{
    display: none;
  }
  .navbar{
    //overflow-x: hidden;
    max-height: 100vh;
    height: auto;
  }
  .dropdown-menu{
    border-bottom: 2px solid #f2f2f2;
  }
  .nav-link{
    text-align: center;
  }
  header .breadcrumb-item a{
    color: #666;
  }
  header .breadcrumb-item+.breadcrumb-item::before{
    color: #555;
  }
  .navbar-search-text{
    border: 1px solid #aaa!important;
    border-right: 0px!important;
    padding-left: 5px!important;
    height: 40px!important;
  }
  .navbar-search-btn{
    font-size: 20px!important;
    background: #aaa
  }
}

@media only screen and (max-width:576px){
  .nav-link{
    padding: 1.2rem 0.5rem;
  }
  .navbar-light .navbar-nav .nav-link{
    &::after{
      bottom: 0px;
    }
  }
}
//Rest 
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
  color: #000;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color: #000;
}



