//R-table

/* Tables
================================== */
.Rtable-section-wrapper {
  margin: 0 auto;
  @media (max-width: 768px) {
    width: 95%;
  }
  @media (max-width: 576px) {
    width: 100%;
  }
}
.Rtable-section{
  margin: 0 0 30px 0;
  &:nth-last-child(1){
    margin: 0 0 16px 0;
  }
}
.Rtable {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  /* Tables MEDIA QUERY
================================== */
  @include media-min(992px){
    .Rtable-row:nth-of-type(even){
      .Rtable-cell{
        background: rgba(255,255,255,.8);
      }
    }
    .Rtable-row:nth-of-type(odd){
      .Rtable-cell{
        background: #F2F2F2;
      }
    }
  }
  @include media-max(992px){
    @for $i from 1 through 8{
      @if $i <=4{
        .Rtable-row .Rtable-cell:nth-of-type(#{$i}){
          background: rgba(255,255,255,.8);
        }
      }@else{
        .Rtable-row .Rtable-cell:nth-of-type(#{$i}){
          background: #F2F2F2;
        }
      }
    }
  }
/* Tables MEDIA QUERY
================================== */
}

.Rtable-title{
  color: #fff;
  background: #626262;
  padding: 5px 5px 5px  20px;
  margin-top: 20px;
  @include media-max(){
    font-size: 14px
  }
}
.Rtable-row{
  display: flex;
  width: 100%;
   // flex-wrap: wrap;
  .Rtable-cell:last-child {
    border-right: 1px solid transparent;
  }
}
.Rtable-cell {
  font-size: 14px;
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;  // Default to full width
  padding: 0.8em 1.2em;
  overflow: hidden; // Or flex might break
  list-style: none;
  // margin-right:3px;
  // margin-bottom:3px;
  // background: rgba(slategrey,20%);
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  &:hover{
    background: #A8D9F9!important;
    text-decoration: none;
    color: #000;
  }
  @include media-max(){
    font-size: 14px
  }
}


/* Table column sizing
================================== */
.Rtable--2cols > .Rtable-cell  { width: 50%; }
.Rtable--3cols > .Rtable-cell  { width: 33.33%; }
.Rtable--5cols > .Rtable-cell  { width: 20%; }
.Rtable--6cols > .Rtable-cell  { width: 16.6%; }
@media only screen and (min-width:992px){
  .Rtable.Rtable-lg-8cols .Rtable-row > .Rtable-cell  { width: 12%}
}
@media only screen and (max-width:991px){
  .Rtable-row{
    flex-wrap: wrap;
  }
  .Rtable.Rtable-4cols .Rtable-row  > .Rtable-cell  { width: 23.5%; }
}




/* Table 
================================== */

table{
	table-layout: auto;
	border:1px solid black
}
.table-responsive{
  margin-bottom: 100px;
  @include media-max(){
    margin-bottom: 40px;
  }
}
.table-item{
  td{
    font-weight: 900;
  }
}
@font-face {
  font-family: tableEn;
  unicode-range: U+0041-007A;
  src: local(Arial); 
  font-weight: 700;
}
.table-item-en{
  font-family: tableEn;
}
.table td , .table th{
	word-break: keep-all;
	text-align: center;
	padding: 8px;
	vertical-align: middle !important;
  border:1px solid black!important;
  font-size: 14px;
}
.table span {
	white-space: nowrap
}
.table .table-title{
	color: #fff;
	background: #626262;
	border: 1px solid #626262;
	border-bottom: 1px solid black;
	td{
		text-align: center;
		padding: 5px 5px 5px  20px;
	}
}
.table-even-odd{
	td ,  th{
		border:1px solid rgba(0,0,0,.3)!important;
		position: relative;
	}
}
