
* {
	// border: 1px solid #000;
}
// 首頁輪播架構
.slider-item{ 
  margin-right: 17px;
	margin-left: 17px;
	text-align: center;
}
//輪播圖片架構
.slider-item.m-0 {
	a {
		display: block;
	}
}
.slider-item-img{
  position: relative;
	// padding-top: 20% !important;
	// width: 100%;
	padding-bottom: 62.25% !important;
  overflow: hidden;
  img{
    transition: transform .6s;
    position: absolute !important;
		top: 0 !important;
		left: 0 !important;
    height: 100%;
		width: 100%;
  }
}
.slider-wapper {
  position: relative;
  & .slick-slider{
    position: initial
  }
}

//輪播內容
.slider{
  h3{
    position: relative;
    display: inline-block;
    color: #000;
    font-weight: 300;
    margin: 0 auto;
    font-size: 14px;
    letter-spacing: 5px;
		margin-top: 30px;
		margin-bottom: 15px;
    &::after{
      content:'';
      display: inline-block;
      width: 0%;
      position: absolute;
      height: 2px;
      background: #000;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
      transition: width .3s;
      transform-origin: left;
    } 
	}
	.slider-item:hover h3:after {
    width: 50%;
    left: 50.05%
	} 
	//輪播箭頭
	.fas{
		// font-size: 40px;
		font-size: 80px;
		color: #fff;
	}
	.slider-arrow{
    z-index: 10;
		width: 45px;
    height: 80px;
    cursor: pointer;
		position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
		background: rgba(238,238,238,.75);
    top: calc(50% - 30px);
    transform: translateY(-50%);
		// transform: translateY(-60%);
		z-index: 50;
		transition: background .3s , color .3s;
		&:hover{
			background:#000;
		}
		&:hover .fas{
			color: #aad9f5;
		}
	}
	.arrow-prev{
		left: 0;
	}
	.arrow-next{
		right: 0;
	}
}


//============ 自定義輪播
// 無 margin
.slider .slider-item-nm{ 
	margin-left: 0;
	margin-right: 0;
	img{
		margin: auto
	}
}
// 固定寬高200px
.slider .slider-iteml-2wh{
	padding-bottom: 0%;
	width: 200px;
	height: 200px;
	margin: auto;
}


//============ 應用產業 && 應用資訊
//輪播 圖片hover放大
.products-infomation-section ,.products-business{
  .slider-item:hover .slider-item-img img{
     transform: scale(1.1);
   } 
 }

// 輪播 media 
// 左右padding
@media(min-width:576px){
	.products-infomation-section ,.products-business{
		.slick-list {
			padding: 0 20%!important;
		}
	}
	.slider-item{ 
		margin-right: 17px;
		margin-left: 17px;
	}
}
@media(max-width:576px){
	.products-infomation-section ,.products-business{
		.slick-list {
			padding: 0 10%!important;
		}
	}
	.slider-item{ 
		margin-right: 10px;
		margin-left: 10px;
	}
}


 // =============== 最新消息 && 常用連結 
//  輪播箭頭客製化
.cooperative , .commonly-associate{
  .slider{
     .fas{
       color:#727374;
     }
     .slider-arrow{
       background: transparent;
     }
   }
 }
 .commonly-associate .slider-item{
   margin: 0;
 }
 .cooperative .slider .slider-arrow{
  top: calc(50%)
 }
// 合作企業箭頭高度位子
// .commonly-associate .slider .slider-arrow {
//   top: calc(50% - 60px);
// }
// .cooperative .slider .slider-arrow{
//     top: calc(50% - 35px);
// }
 // 輪播箭頭客製化 位子
// @media only screen and (min-width:1440px){
//   .cooperative , .commonly-associate{
//     .slider{
//       .arrow-prev{
//         // left: -5.5%;
//         left: -30px;
//       }
//       .arrow-next{
//         right: -30px;
//       }
//     }
//   }
// }

// @media only screen and (max-width:1440px){
//   .cooperative , .commonly-associate{
//     .slider{
//       .arrow-prev{
//         // left: -2%;
//         left: -30px;
//       }
//       .arrow-next{
//         // right: -2%;
//         right: -30px;
//       }
//     }
//   }
// }
// @media only screen and (max-width:1068px){
//   .cooperative , .commonly-associate{
//     .slider{
//       .arrow-prev{
//         // left: -5.5%;
//         left: -30px;
//       }
//       .arrow-next{
//        right: -30px;
//       }
//     }
//   }
// }
// @media only screen and (max-width:800px){
//   .cooperative , .commonly-associate{
//     .slider{
//       .arrow-prev{
//         // left: -1.5%;
//         left: -30px;
//       }
//       .arrow-next{
//         // right: -1.5%;
//         right: -30px;
//       }
//     }
//   }
// }
// @media (max-width:576px){
//   .cooperative , .commonly-associate{
//     .slider{
//       .arrow-prev{
//         // left: -2.5%;
//         left: -30px;
//       }
//       .arrow-next{
//         // right: -2.5%;
//         right: -30px;
//       }
//     }
//   }
// }

