
/* -------------------------------- 
Modules - reusable parts of our design
-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 95%;
  max-width: 1170px;
  margin: 0 auto; 
  @include media-max(){ 
    width: 100%;
  }
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 
Main components 
-------------------------------- */

#cd-timeline {
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;
}
#cd-timeline::before {
  /* this is the vertical line */
  top: 0;
  content: '';
  position: absolute;
  left: 18px;
  // height: calc(100% - 90px);
  height: calc(100% - 38px);
  width: 4px;
  background: #ACDAF5;
}
@media only screen and (min-width: 1100px) {
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 25px 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
  // background: #fff;  
}
@media only screen and (min-width: 1100px) {
  .cd-timeline-block {
    margin: 25px 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #ACDAF5;
  @include media-max(1100px){
    top: -5px;
    left: -10px;
    width: 60px;
    height: 60px;
  }
}
.cd-timeline-img img {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
}
.cd-picture {
  background: white;
}

@media only screen and (min-width: 1100px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
  }
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: #EDEEEF;
  border-radius: 25px;
  box-shadow: 0 3px 0 rgb(228, 228, 228);
  letter-spacing: 2.5px;
  .timeline-title{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 14px;
    @media (max-width: 768px) {
      font-size: 16px;
    }
    @media (max-width: 576px) {
      font-size: 14px;
    }
  }
  @include media-max(1100px){
    margin-left: 70px;
  }
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  text-align: center;
  color: #fff;
  font-size: 20px;
  padding: 15px;
  margin-bottom: 0;
  background-color: #7C7D7E;
  font-weight: 400;
  @include media-max(){
    font-size: 16px;
    text-align: left;
  }
}
.cd-timeline-content p {
  padding: 20px;
  line-height: 1.6;
  margin-bottom: 0; 
  font-weight: 200;
  width: 85%;
  margin: auto;
  @include media-max(){
    width: 100%;
    font-size: 14px;
  }
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 15px solid #7C7D7E;
}

@media only screen and (min-width: 1100px) {
  .cd-timeline-content {
    margin-left: 0;
    width: 44%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left: 15px solid #7C7D7E;
  }
  .cd-timeline-block:nth-child(odd) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: left;
  }
  .cd-timeline-block:nth-child(odd) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #7C7D7E;
  }
}
