@import './helper/bootstrap';
@import './_mixin';
@import './navbar.scss';
@import './hamburger.scss';
@import './button.scss';
@import './global.scss';
@import './_features.scss';
@import './slider.scss';
@import './main.scss'; 
@import './_Rtable.scss';
@import './timeline.scss'; 
@import './indexHeader.scss'; 
@import './_footer.scss';


.index-three-item-wrapper {
    padding-left: 200px;
    padding-right: 200px;
    @media (max-width: 991px) {
        padding-left: 100px;
        padding-right: 100px;
    }
    @media (max-width: 576px) {
        padding-left: 20px;
        padding-right: 20px;
    }
    .row {
        margin: 0;
    }

    .col-4 {
        padding: 0;
        padding: 0 5px;
    }
    .item {
        .item-img {
            margin-bottom: 20px;
            text-align: center;
            img {
                width: 60%;
                margin: 0 auto;
                @media (max-width: 991px) {
                    width: 70%;
                }
                @media (max-width: 576px) {
                    width: 100%;
                }
            }
        }
        .item-img-bigger {
            margin-bottom: 20px;
            text-align: center;
            img {
                width: 90%;
                margin: 0 auto;
                @media (max-width: 991px) {
                    width: 90%;
                }
                @media (max-width: 576px) {
                    width: 100%;
                }
            }
        }
        .item-title {
            margin-bottom: 50px;
            text-align: center;
            font-size: 16px;
            font-weight: 300;
            color: black;
            position: relative;
            @media (max-width: 576px) {
                font-size: 14px;
            }
            &::after{
                content:'';
                display: inline-block;
                width: 0%;
                position: absolute;
                height: 2px;
                background: #000;
                bottom: -20px;
                left: 50%;
                transform: translateX(-50%);
                transition: width .3s;
                transform-origin: left;
            }
        }
        &:hover {
            .item-title {
                &:after {
                    width: 10%;
                    left: 50.05%
                }

            }
            
        }
    }

}

.button28 {
    a {
        font-size: 14px;
    }
}


section.about-certificate {
    .certificate-row {
        display: flex;
        flex-wrap: wrap;
        .img-wrap {
            width: 20%;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            &:hover {
                outline: 3px solid #ACDAF5
            }
            
            img {
                width: 50%;
            }
            @media (max-width: 1199px){
                width: 25%;
            }
            @media (max-width: 768px){
                width: 33.3%;
            }
        }
    }

}
p {
    line-height: 20px;
}

table {
    table-layout: fixed;
    //font-size: ;
    td, th {
        word-wrap: break-word;
        @media (max-width: 768px){
            font-size: 14px;
        }
    }
}

.about-content-title {
    font-size: 16px;
}
.about-seemore {
    font-size: 14px;
}

.cooperative {
    padding-top: 0;
    //padding-bottom: 0;
}

.privacy-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    @media (max-width: 576px) {
        margin-top: 50px;
        margin-bottom: 30px;
    }
}


.col-sm-6.col-12.about-page-bg-title.about-page-bg-col-2 {
    @media (max-width: 576px) {
        //height: 150px;
    }
}

.container.about-alloy {
    //max-width: 100% !important;
    @media (max-width: 768px) {
        padding: 0 30px;
    }
    @media (max-width: 576px) {
        //padding: 15px;
        // margin-left: 10px;
        // margin-right: 10px;
        padding: 0 30px;
    }
}